.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}


.logo {
    background-image: url('./BG.png');
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
    height: 36px;
    width: 36px;
    margin: 5px 5px;
    vertical-align: middle;
}
