
.smileyBoxLg {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0;
}


.smileyBoxSm {
    display: inline-block;
    composes: top-spacer bottom-spacer right-spacer-sm left-spacer-sm from '../../../css/layout.css';
}

.smileyBoxSm:first-of-type {
    margin-left: 0;
}

.smileyBoxSm:last-of-type {
    margin-right: 0;
}

.moodSelectorBox {
    composes: white-bkgrnd from '../../../css/colors.css';
    composes: top-spacer bottom-spacer  from '../../../css/layout.css';
    composes: left-spacer-med right-spacer-med from '../../../css/layout.css';
    composes: top-padding left-padding right-padding from '../../../css/layout.css';
    composes: rounded-corners from '../../../css/layout.css';
}

.moodText {
    composes: white-text from '../../../css/colors.css';
}

.selectedMoodBanner {
    composes: lt-grn-text from '../../../css/colors.css';
    composes: small-text from '../../../css/typography.css';
    composes: light-weight from '../../../css/typography.css';
}

.moodSelectorBanner {
    composes: med-grey-text from '../../../css/colors.css';
    composes: top-spacer from '../../../css/layout.css';
    composes: bold-weight from '../../../css/typography.css';
}

.smileyLg {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100px;
    width: 98px;
    vertical-align: middle;
    position: absolute;
    z-index: 10;
}

.smileySm {
    display: inline-block;
    -webkit-background-size: cover;
    height: 70px;
    width: 70px;
    vertical-align: middle;
}

.one {
    background-image: url('./images/Smiley1.png');
}

.two {
    background-image: url('./images/Smiley2.png');
}

.three {
    background-image: url('./images/Smiley3.png');
}

.four {
    background-image: url('./images/Smiley4.png');
}

.five {
    background-image: url('./images/Smiley5.png');
}


.Edit {
    background-image: url('./images/Edit.png');
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    height: 24px;
    width: 53px;
    vertical-align: middle;
    position: absolute;
    top: 40px;
    left: 68px;
    cursor: pointer;
}


