.logo {
    background-image: url('./BG.png');
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
    height: 36px;
    width: 36px;
    margin: 5px 5px;
    vertical-align: middle;
}

.banner {
    height: 46px;
    margin-bottom: 15px;
    composes: dark-grn-bkgrnd from '../../../css/colors.css';
}

.headline {
    margin-top: 10px;
    font-size: 22px;
    composes: white-text from '../../../css/colors.css';
    composes: sans from '../../../css/typography.css';
}


