.logo {
    background-image: url('./BG.png');
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
    height: 36px;
    width: 36px;
    margin: 5px 5px;
    vertical-align: middle;
}

.banner {
    height: 46px;
    composes: dark-grn-bkgrnd from '../../../css/colors.css';
    composes: bottom-spacer from '../../../css/layout.css';
}

.headline {
    composes: white-text from '../../../css/colors.css';
    composes: top-spacer-med from '../../../css/layout.css';
    composes: sans from '../../../css/typography.css';
    composes: large-text from '../../../css/typography.css';
}


