.lt-grn-bkgrnd {
    background-color: #00e5cf;
}

.med-grn-bkgrnd {
    background-color: #00828c;
}

.dark-grn-bkgrnd {
    background-color: #006e77;
}

.white-bkgrnd {
    background-color: #ffffff;
}

.white-text {
    color: #ffffff;
}

.lt-grn-text {
    color: #00e5cf;
}

.lt-grey-text {
    color: #c3c3c3;
}

.dark-grey-text {
    color: #474747;
}

.med-grey-text {
    color: #7e7e7e;
}
