.large-text {
    font-size: 18px;
}

.med-text {
    font-size: 14px;
}

.normal-text {
    font-size: 12px;
}

.small-text {
    font-size: 11px;
}

.smallest-text {
    font-size: 9px;
}

.bold-weight {
    font-weight: bold;
}

.light-weight {
    font-weight: 200;
}

.normal-weight {
    font-weight: 400;
}

/*.sans-light {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}*/

.sans {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


