@import "../../node_modules/susy/sass/susy";

$susy: (columns: 12,
        global-box-sizing: border-box,
);

@include border-box-sizing;

.containerElement {
  @include container;
}


.headersidebar {
  @include span(4 first);
}

.headermain {
  @include span(4 of 12 at 5);
  text-align: center;
}

.centerColumn {
  @include susy-breakpoint(1300px) {
    @include prefix(4 of 12);
    @include suffix(4 of 12);
  }
  @include susy-breakpoint(960px 1299px) {
    @include prefix(3 of 12);
    @include suffix(3 of 12);
  }
  @include susy-breakpoint(760px 959px) {
    @include prefix(2 of 12);
    @include suffix(2 of 12);
  }
  @include susy-breakpoint(300px 759px) {
    @include span(12);
  }
  text-align: center;
}


