@import "../../node_modules/susy/sass/susy";


$susy: (columns: 12,
        /*container: 1120px,*/
        /*column-width: 5em,*/
        //gutter-width: 1em,
        //grid-padding: gutter-width,
        global-box-sizing: border-box,
        /*use-custom: (
          susy-clearfix: true,
        )*/
);

@include border-box-sizing;

.containerElement {
  @include container;
}

/*.content {
  @include span(4 of 12 at 5);
  text-align: center;
}

.leftsidebar {
  @include span(4 first);
}

.rightsidebar {
  @include span(4 last);
}*/

.headersidebar {
  @include span(4 first);
}

.headermain {
  @include span(4 of 12 at 5);
  text-align: center;
}

.centerColumn {
  @include prefix(4 of 12);
  @include suffix(4 of 12);
  text-align: center;
}

/*
.threeColumns {
  @include susy-clearfix;
  .left {
    @include columns(4);
    @include alpha;
  }
  .center {
    @include columns(4);
    text-align: center;
  }
  .right {
    @include columns(4);
    @include omega;
  }
}*/
