
.Rating {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 18px;
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    position: relative;
    height: 30px;
    margin-top: 5px;
}

.highlight1 {
    display: none;
}

.highlight2 {
    height: 28px;
    width: 27%;
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 1;
    background-color: #fef9b2;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.highlight3 {
    height: 28px;
    width: 50%;
    position: absolute;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    top: 0;
    left: 1px;
    z-index: 0;
    background-color: #fef9b2;
}

.highlight4 {
    height: 28px;
    width: 75%;
    position: absolute;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    top: 0;
    left: 1px;
    z-index: 1;
    background-color: #fef9b2;
}

.highlight5 {
    height: 28px;
    width: 97%;
    position: absolute;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    top: 0;
    left: 1px;
    z-index: 1;
    background-color: #fef9b2;
}

.starOuterBox1 {
    position: absolute;
    top: -15%;
    left: 0;
}

.starOuterBox2 {
    position: absolute;
    top: -15%;
    left: 22%;
}

.starOuterBox3 {
    position: absolute;
    top: -15%;
    left: 45%;
}

.starOuterBox4 {
    position: absolute;
    top: -15%;
    right: 22%
}

.starOuterBox5 {
    position: absolute;
    top: -15%;
    right: 0;
}

.starInnerBox {
    color: #c3c3c3;
    display: inline-block;
    position: relative;
    width: 2.1em;
    height: 2.1em;
    text-align: center;
}

.starSelectedBox {
    background-color: #ffe100;
    display: inline-block;
    position: relative;
    width: 2.1em;
    height: 2.1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #f4cc43;
    z-index: 9;
}

.star:before {
    content: '\2605';
    position: absolute;
    top: 12%;
    left: 22%;
    padding: 1px;
    z-index: 10;
}

.RatingTmp:before {
    color: #757575;
    content: '\2605';
    top: 12%;
    left: 22%;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

.RatingOn:before {
    color: #ffe100;
    content: '\2605';
    top: 12%;
    left: 22%;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

.RatingSelected:before {
    color: #ffffff;
    content: '\2605';
    top: 12%;
    left: 22%;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

